<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_ConnectDB</servlet-name>
        <servlet-class>org.database.connect.Servlet_ConnectDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Login</servlet-name>
        <servlet-class>org.database.connect.Servlet_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_AllList</servlet-name>
        <servlet-class>org.database.connect.Servlet_AllList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Insert</servlet-name>
        <servlet-class>Servlet_Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_InsertData</servlet-name>
        <servlet-class>org.database.connect.Servlet_InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_LoginCheck</servlet-name>
        <servlet-class>org.database.connect.Servlet_LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Logout</servlet-name>
        <servlet-class>org.database.connect.Servlet_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Session</servlet-name>
        <servlet-class>org.database.connect.Servlet_Session</servlet-class>
        <init-param>
            <param-name>m_Session</param-name>
            <param-value>HttpSession</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_ConnectDB</servlet-name>
        <url-pattern>/Servlet_ConnectDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Login</servlet-name>
        <url-pattern>/Servlet_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_AllList</servlet-name>
        <url-pattern>/Servlet_AllList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Insert</servlet-name>
        <url-pattern>/Servlet_Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_InsertData</servlet-name>
        <url-pattern>/Servlet_InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_LoginCheck</servlet-name>
        <url-pattern>/Servlet_LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Logout</servlet-name>
        <url-pattern>/Servlet_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Session</servlet-name>
        <url-pattern>/Servlet_Session</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
